@import url('https://fonts.googleapis.com/css2? family= Righteous & family= Sarala:wght@400;700 & display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background: linear-gradient(68deg, #2F2325 16.62%, #8E5D52 85.61%);;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.2px solid #FFF2E7;
    
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.conteudo-principal-titulo {
    color: #FFF2E7;
    font-family: 'Righteous', sans-serif;
    font-size: 50px;
    font-weight: 400px;

}

.conteudo-principal-subtitulo {
    color: #ECD6C4;
    font-family: 'Sarala', sans-serif;
    font-weight: 400px;
    font-size: 18px;
}

.conteudo-principal-botao {
    width: 120px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #ECD6C4;
}

.conteudo-secundario {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
   gap: 24px;
}

.conteudo-secundario-titulo {
    border-top: 0.2px solid #FFF2E7;
    padding-top: 50px;
    font-family: 'Sarala', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ECD6C4;
}

.conteudo-secundario-paragrafo {
    color: white;
}

.rodape {
    border-top: 0.2px solid #FFF2E7;
    padding: 50px;
}

.rodape-imagem {
    display: block;
    margin: 0 auto;
}

