@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;700&family=Montserrat:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background-color: #181012;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 15px;
    background-color: #1F1517;

}

.header-nav-item {
    color: white;
    padding: 0px 15px;
}

.header-nav-github-link {
    color: white;
}
