@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@400;700&family=Montserrat:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background-color: #181012;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


.header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 15px 200px;
    background-color: #1F1517;

}

.header-nav {
    max-width: 1120px;
    margin: auto;

}

.header-nav-item {
    padding: 0px 15px;
    color: rgba(255, 242, 231, 0.50);
    font-size: .80rem;
}

.header-nav-item:hover{
    color: #FFF2E7;
    transition: 0.4s;
}

.header-nav-github-link {
    color: #FFF2E7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.main-section1 {
    max-width: 1120px;
    height: 60vh;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

}

.main-section1-texts {
    display: flex;
    flex-direction: column;
    
}

.main-section1-texts-novidade {
    color: #A45A49;
    font-family: 'Epilogue';
    font-size: 10px;
    
}

.main-section1-texts-title{
    color: #FFF;
    font-family:'montserrat' ;
    font-size: 50px;
}

.main-section1-texts-paragraph{
    color: #C7BAB3;
}


.main-section1-assets {
   max-width: 45%;
   column-count: 4;
   margin: 10px;
}

.main-section1-assets > figure > img {
    width: 100%;
}

.botao {
    width: 100%;
    max-width: 1120px;
}