* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #181012;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 15px;
    background-color: #1F1517;

}

.header-nav-item {
    color: white;
    padding: 0px 15px;
}

.header-nav-github-link {
    color: white;
}
